* {
    color: #FFFFFF;
}

.form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4E2050;
    width: 788px;
    height: 665px;
    text-align: center;
}

button {
    background: #EDDC11;
    color: #4E2050;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 14px;
    gap: 10px;
}

input {
    width: 624px;
    height: 58px;
    background: #D9D9D9;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    color: var(--secundary-p);
}

#btn-delete {
    background: #ED1111;
    color: var(--white);
    margin-left: 500px;
    margin-top: 50px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}
