.link {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1em;
}

.page-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secundary);
    padding: 2em; /* Aumentado o preenchimento para melhor espaçamento em telas menores */
    border-radius: 6px;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
    .page-edit {
        padding: 1em; /* Reduzido o preenchimento em telas menores para evitar que o conteúdo fique muito espremido */
    }
}

@media screen and (max-width: 375px) {
    .page-edit {
        padding: 0.5em; /* Reduzir o preenchimento para melhor adaptação em telas menores */
    }
}