.container {
    width: 100%;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--primary);
}