.container-page {
    width: 100%;
    min-height: 91vh;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

@media (max-width: 1200px) {
    .container-page {
        flex-wrap: wrap;
    }
}