.card-page {
    width: 100%;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap: 3em;
}

