.image {
    width: 150px;
}

.image img {
    width: 100%;
    border-radius: 50%;
}

.profile-card {
    color: var(--white);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secundary);
    width: 440px;
    height: 690px;
    border-radius: 10px;
    text-align: center;
    
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
}

.icon {
    color: var(--secundary-y);
    font-size: 3em;
}

.group-icon {
    display: flex;
    gap: 1em;

}

.text-link {
    text-decoration: none;
    color: var(--white);
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}


.description {
    width: 400px;
    word-wrap: break-word;
}