.header {
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.img-logo-header {
    width: 200px;
    margin-left: 2em;
}

.img-logo-header img {
    width: 100%;
}

.nav-link-header {
    display: flex;
    gap: 4em;
    margin-right: 2em;
}

.link-header {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.link-header:hover {
    color: var(--secundary-y);
}

@media screen and (max-width: 768px) {

    .img-logo-header {
        width: 150px;
    }
    
    .nav-link-header {
        gap: 2em;
    }
}

@media screen and (max-width: 620px) {

    .nav-link-header {
        gap: 1em;
    }

    .link-header {
        font-size: 1em;
    }
}


@media screen and (max-width: 530px) {

    .img-logo-header {
        width: 100px;
    }

}


@media screen and (max-width: 480px) {

    .nav-link-header {
        gap: 0.5em;
    }
    
}
