.header {
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.img-logo-header {
    width: 200px;
    margin-left: 2em;
}

.img-logo-header img {
    width: 100%;
}

.nav-link-header {
    display: flex;
    gap: 4em;
    margin-right: 2em;
}

.link-header {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.link-header:hover {
    color: var(--secundary-y);
}

/* @media screen and (max-width: 768px) {

    .img-logo-header {
        width: 150px;
    }

    .nav-link-header {
        gap: 2em;
    }
} */

@media screen and (max-width: 1150px) {

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-link-header {
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        
    }

    .link-header {
        font-size: 1em;
        margin-left: 2em;
    }

    .img-logo-header {
        width: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 720px) {
    .nav-link-header {
        flex-wrap: wrap;
    }
}


