.footer {
    background-color: var(--secundary-p);
    color: var(--white);
    display: flex;
    height: 180px;
    justify-content: space-around;
    align-items: center;
    padding: 6.8em;
    margin-top: 1;


}

.icon-footer {
    color: var(--secundary-y);
    font-size: 2.5em;
}

.icon-footer:hover {
    color: var(--white);
}

.img-footer {
    width: 300px;

}

.img-footer img {
    width: 100%;

}



.group-icon {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.text-group-info {
    display: flex;
    flex-direction: column;

}

.text-group-info h3 {
    color: var(--secundary-y);
}

.text-group-info a {
    text-decoration: none;
    color: var(--white);

}

.group-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding: 2em;
    }

    .group-icon {
        margin-bottom: 2em;
        align-items: center;
        margin-left: 100px;
    }

    .img-footer {
        width: 100%;
        margin-bottom: 2em;
    }

    .text-group-info {
        align-items: flex-start;
        margin-bottom: 2em;
    }

    .text-group-info a {
        text-align: justify;
    }

    .group-info {
        align-items: flex-start;
        margin-right: 0;
    }
}