.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.forms-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.label-forms {
  color: var(--white);
}

.input-geral {
  width: 500px;
  font-size: 1.1em;
  border-radius: 6px;
  padding: 10px;
  border: none;
}

.text-description {
  width: 500px;
  height: 200px;
  font-size: 1em;
  border-radius: 6px;
  padding: 1em;
  border: none;
}

.btn-forms {
  width: 110px;
  height: 30px;
  border-radius: 14px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.submit {
  background-color: var(--secundary-y);
  color: var(--secundary-p);
}

.cancel {
  background-color: #ed1111;
  color: var(--white);
}

.btn-container {
  display: flex;
  gap: 1em;
}

.link {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}
