.container {
    background-image: url("/src/assets/background-2.png");
    width: 100%;
    height: 91vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}