.login-container {
    background-color: var(--secundary);
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-radius: 6px;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 500px;
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.label-forms {
    color: var(--white);
}

.input-geral {
    width: 100%;
    font-size: 1.1em;
    border-radius: 6px;
    padding: 10px;
    border: none;
}

.btn-forms {
    width: 110px;
    height: 30px;
    border-radius: 14px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.submit {
    background-color: var(--secundary-y);
    color: var(--secundary-p);
}

.cancel {
    background-color: #ED1111;
    color: var(--white);
}

.btn-container {
    display: flex;
    margin-top: 40px;
    gap: 2em;
}

.msg-login {
    color: var(--white);
}

.link {
    text-decoration: none;
    color: var(--secundary-y);
}

.link-login-container {
    display: flex;
    gap: 1em;
    color: var(--white);
}

.link-login {
    color: var(--secundary-y);
}


/* Media query para telas menores */
@media screen and (max-width: 768px) {
    .login-container {
        padding: 1em; /* Reduz o preenchimento para telas menores */
        width: 90%;
        height: 100%;
    }

    .forms {
        gap: 0.5em; /* Ajuste do espaçamento entre os elementos */
    }
}   